
#digital_clock{

  position: absolute;
  bottom: 30px;
  right: -1%;
  display: flex;
  

  
}

.datetime{
  color: #000000;
  
  font-family: "Segoe UI", sans-serif;
  width: 340px;
  padding: 15px 10px;
  
  border-radius: 5px;
  
  
}



.date{
  font-family: 'Segoe UI', Arial, sans-serif;
  font-size: 1vw;
  font-weight: 250;
  text-align: center;
  letter-spacing: 3px;
}

.time{
  font-size: 30px;
  font-weight: 350;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time span:not(:last-child){
  position: relative;
  margin: 0 4px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 3px;
}

.time span:last-child{
  background: #d6d9db;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 4px;
  padding: 0 5px;
  border-radius: 4px;
}
